.icon-arrow {
    width: 48px;
    height: 48px;
    position:absolute;
}



.resort-cta .icon-arrow{
    width: 24px;
    height: 24px;
    position: static; 
    display: inline-block;
    margin: 0;
    padding: 0;
}

